.login-section {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.login-section .arrow-back {
  color: white;
  margin: 1rem 0 0 1rem;
  align-self: flex-start;
}

.login-section .login-header {
  color: white;
  margin-top: 5rem;
}

.login-section .login-header h2 {
  font-size: 3rem;
  text-align: center;
  font-weight: 400;
}

.login-section .login-header div {
  text-align: center;
  margin-top: 1rem;
}

.login-section .login-header div span {
  font-size: 1.1rem;
}

.login-section .login-header div a {
  color: #FF3D24;
  font-size: 1.1rem;
  margin-left: 0.5rem;
}

.login-section .login-body .password-field .password-help {
  font-size: 0.8rem;
}

.login-section .login-body .password-field div {
  border-bottom: 0.1rem solid rgb(199, 199, 199);
}

.login-section .login-body .password-field .password-field-input {
  width: 95%;
  border-bottom: none;
  margin: 0;
  padding: 0.1rem 0 0.1rem 0;
}

.login-section .login-body .password-field .password-field-input:hover {
  border-bottom: none;
}

.login-section .login-body .password-field .password-field-input:focus {
  border-bottom: none;
}

.login-section .login-body {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 30%;
}

.login-section .login-body label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.login-section .login-body label span {
  color: rgb(199, 199, 199);
  font-size: 1.1rem;
}

.login-section .login-body label input {
  background-color: transparent;
  border-bottom: 0.1rem solid rgb(199, 199, 199);
  color: white;
  font-size: 1.1rem;
  margin: 0.5rem 0 0.5rem 0;
}

.login-section .login-body label input:hover {
  border-bottom: 0.1rem solid rgb(255, 255, 255); 
}

.login-section .login-body label input:focus {
  outline: none;
  border-bottom: 0.1rem solid #FF3D24;
}

.login-section button {
  width: 30%;
  background-color: #FF3D24;
  padding: 1rem 0 1rem 0;
  margin: 2rem 0 4rem 0;
  font-size: 1.2rem;
  cursor: pointer;
}

.login-section .error-msg {
  color: #0b80ec;
  margin: 1rem 0 1rem 0;
}
