.products-by-category {
  background: rgb(120,0,0);
  background: linear-gradient(220deg, rgba(120,0,0,1) 0%, rgba(36,2,2,1) 40%, rgba(0,0,0,1) 100%);
}

.products-by-category h2 {
  color: white;
  margin: 4rem 0 0 2.8rem;
  font-weight: 500;
  font-size: 3rem;
}

.products-by-category .products {
  display: flex;
  margin: 10rem 0 5rem 2.8rem;
}

.products-by-category .products .product-filters {
  display: flex;
  flex-direction: column;
  width: 15%;
}

.products-by-category .products .product-filters h3 {
  color: white;
  font-size: 1.8rem;
  font-weight: 200;
}

.products-by-category .products .product-filters .divisor {
  background-color: rgb(211, 211, 211);
  width: 100%;
  height: 0.01rem;
  margin: 1rem 0 1rem 0;
}

.products-by-category .products .product-filters .filters {
  color: white;
}

.products-by-category .products .product-filters .filters .filters-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-by-category .products .product-filters .filters .filters-header span {
  font-size: 1.1rem;
  font-weight: 200;
}

.products-by-category .products .product-filters .filters .filters-header button {
  background-color: transparent;
  color: white;
  font-size: 1.8rem;
  font-weight: 100;
}

.products-by-category .products .product-filters .filters ul {
  margin-top: 1rem;
  color: rgb(211, 211, 211);
  font-weight: 200;
}

.products-by-category .products .product-cards {
  width: 82%;
  margin: 0 2rem 0 2rem;
  display: flex;
  flex-direction: column;
}

.products-by-category .products .product-cards select {
  width: 20%;
  align-self: flex-end;
  padding: 0.7rem;
  font-size: 1rem;
  background-color: transparent;
  border: 0.01rem solid rgb(211, 211, 211);
  color: white;
  margin-bottom: 4rem;
}

.products-by-category .products .product-cards select:focus {
  outline: 0;
}

.products-by-category .products .product-cards select option {
  font-size: 1rem;
  background-color: black;
}

.products-by-category .products .product-cards .cards {
  display: flex;
}

.products-by-category .products .product-cards .cards .product-card {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-right: 2.5rem;
}

.products-by-category .products .product-cards .cards .product-card .card-thumbnail div {
  display: none;
}

.products-by-category .products .product-cards .cards .product-card .card-thumbnail {
  height: 18rem;
  background-position: center;
  background-color: rgba(151, 151, 151, 0.5);
  background-blend-mode: darken;
  background-size: 140%;
  transition: 0.3s ease;
  cursor: pointer;
}

.products-by-category .products .product-cards .cards .product-card:hover .card-thumbnail {
  background-size: 170%;
}

.products-by-category .products .product-cards .cards .product-card .card-info {
  display: flex;
  flex-direction: column;
}

.products-by-category .products .product-cards .cards .product-card .card-info span:first-of-type {
  color: white;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 1rem;
}

.products-by-category .products .product-cards .cards .product-card .card-info span:nth-child(2) {
  color: rgb(214, 214, 214);
  margin-bottom: 1rem;
}

.products-by-category .products .product-cards .cards .product-card .card-info button {
  background-color: transparent;
  padding: 0.8rem 0 0.8rem 0;
  font-size: 1rem;
  cursor: pointer;
  border: 0.1rem solid transparent;
  transition: 0.3s ease;
  color: transparent;
}

.products-by-category .products .product-cards .cards .product-card:hover button {
  border: 0.1rem solid white;
  color: white;
}