.product-details-section {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.product-details-section .product-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.product-details-section .product-image h2 {
  font-size: 1rem;
  margin-bottom: 1rem;
  width: 80%;
}

.product-details-section .product-image img {
  width: 50%;
}

.product-details-section .product-buy {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
}

.product-details-section .product-buy span:first-of-type {
  font-size: 1.5rem;
  color: var(--green-theme-base);
  font-family: 'K2D';
  font-weight: 700;
}

.product-details-section .product-buy span {
  font-size: 0.9rem;
}

.product-details-section .product-buy span:last-of-type {
  font-size: 0.75rem;
}

.product-details-section .product-buy button {
  margin-top: 2rem;
  background-color: var(--green-theme-base);
  color: white;
  font-family: 'K2D';
  font-weight: 700;
  padding: 1rem 0 1rem 0;
  cursor: pointer;
}

.product-details-section .product-buy button:hover {
  background-color: var(--amaranth-theme-base);
}

.product-details-description {
  display: flex;
  flex-direction: column;
  padding: 0 2rem 0 2rem;
  margin: 2rem 0 2rem 0;
}

.product-details-description h3 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 1REM;
}

.product-details-description p {
  text-align: justify;
}