.products-by-category h2 {
  color: white;
  margin: 4rem 0 0 2.8rem;
  font-weight: 500;
  font-size: 3rem;
}

.products-by-category .products {
  display: flex;
  margin: 10rem 0 5rem 2.8rem;
}

.products-by-category .products .product-card .card-thumbnail {
  background-color: rgba(151, 151, 151, 0);
}
