.loading {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  background: rgb(120,0,0);
  background: linear-gradient(220deg, rgba(120,0,0,1) 0%, rgba(36,2,2,1) 40%, rgba(0,0,0,1) 100%);
}

.loading .phrase {
  color: white;
  margin: 1rem 0 1rem 0;
}

.loading .load-bar {
  width: 30%;
  height: 1.5rem;
  background-color: transparent;
  border: 0.01rem solid white;
}

.loading .load-bar .load {
  height: 1.5rem;
  background-color: white;
  transition: 0.3s ease;
}
