.main-header {
  align-items: center;
  background-color: var(--green-theme-base);
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 0 2rem;
}

.main-header .header-search-bar {
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  width: 50%;
}

.main-header .header-search-bar input {
  background-color: white;
  border-radius: 0.5rem 0 0 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
}

.main-header .header-search-bar input:focus {
  outline: none;
}

.main-header .header-search-bar button {
  background-color: transparent;
  cursor: pointer;
}

.main-header .header-search-bar button span {
  font-weight: 700;
}

.main-header .login {
  display: flex;
  color: white;
  font-family: 'K2D';
  font-weight: 600;
  width: 11%;
  cursor: pointer;
}

.main-header .login span:first-of-type {
  width: 6rem;
}

.main-header .login span:last-of-type {
  font-size: 2.5rem;
}

.main-header .shopping-cart {
  margin-right: 1rem;
}

.main-header .shopping-cart button {
  background-color: transparent;
}

.main-header .shopping-cart button span {
  color: white;
  font-size: 2rem;
  cursor: pointer;
}