.main-nav {
  background-color: var(--green-theme-darken);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav .all-categories {
  display: flex;
  color: white;
  align-items: center;
  margin-left: 1rem;
  font-family: 'K2D';
}

.main-nav .all-categories select option {
  padding: 0.5rem;
}

.main-nav .highlight-categories ul {
  display: flex;
  color: white;
  font-family: 'K2D';
  font-size: 0.8rem;
}

.main-nav .highlight-categories ul li {
  margin: 1rem;
  cursor: pointer;
}