.main-nav {
  background-color: var(--green-theme-darken);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav .all-categories {
  display: flex;
  color: white;
  align-items: center;
  margin-left: 1rem;
  font-family: 'K2D';
  font-size: 1rem;
  background-color: transparent;
  cursor: pointer;
}

.main-nav .highlight-categories ul {
  display: flex;
  color: white;
  font-family: 'K2D';
  font-size: 0.8rem;
}

.main-nav .highlight-categories ul li {
  margin: 1rem;
  cursor: pointer;
}

.menu-categories {
  background-color: white;
  flex-direction: column;
  flex-wrap: wrap;
  height: 10rem;
  border-bottom: 0.2rem solid rgba(0, 0, 0, 0.1);
  font-family: 'K2D';
  padding: 0 0.8rem 0 0.8rem;
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--green-theme-base);
}

.menu-categories span {
  margin: 0.5rem 0 0.3rem 0;
}
