.products-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem 0 0 1rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  max-width: 15%;
  max-height: fit-content;
  border-radius: 5%;
  font-size: 0.9rem;
  padding: 0.5rem;
  margin: 0.7rem;
  box-shadow: 6px 7px 10px 0px rgba(212,212,212,1);
}

.product-card .title {
  font-weight: 700;
}

.product-card img {
  max-width: 50%;
  margin: 1rem 0 1rem 0;
}

.product-card .price {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-self: flex-start;
  align-items: flex-start;
  text-align: start;
  font-weight: 600;
  font-family: 'K2D';
}

.product-card .price span:first-of-type {
  font-size: 0.7rem;
}

.product-card .price span:nth-child(2) {
  font-size: 0.7rem;
  font-weight: 500;
}

.product-card .price span:last-of-type {
  margin: 0.3rem 0 0.3rem 0;
  color: var(--green-theme-darken)
}
